[mysqld]
# Port d'écoute pour MariaDB
port = 3306

# Adresse sur laquelle le serveur écoute
bind-address = 0.0.0.0

# Charset par défaut pour la base de données
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

# Chemin des fichiers de données
datadir = /var/lib/mysql

# Logs pour MariaDB
log-error = /var/log/mysql/error.log
general-log = 1
general-log-file = /var/log/mysql/general.log

# Taille des buffers pour optimiser MariaDB
max_allowed_packet = 16M

# Désactiver les restrictions pour les connexions root externes (utile pour Docker)
skip-networking = 0

# Autoriser l'accès distant pour les utilisateurs (par exemple pour WordPress)
skip-bind-address

[client]
# Charset par défaut pour les clients MariaDB
default-character-set = utf8mb4
